/* styles/LandingPage.css */
.landing {
  text-align: center;
  padding: 4rem 2rem;
}

.landing h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.landing button {
  font-size: 1rem;
  padding: 0.7rem 1.5rem;
  background-color: #3f3f3f;
  
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.landing button:hover {
  background-color: #000;
}
